@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply overflow-y-scroll bg-background text-contrast;
	}

	body:has(div[data-modal]) {
		@apply overflow-hidden pr-[--sb-width];
	}

	::selection {
		@apply bg-accent text-accent-fg;
	}

	.a-dialog-desktop {
		max-height: min(100dvh - 88px, 652px);
	}

	[hidden] {
		display: none !important;
	}
}

@layer base {
	:root {
		--p-accent: 16 131 254;
		--p-accent-hover: 0 125 247;
		--p-accent-active: 0 119 236;
		--p-accent-fg: 255 255 255;
		--p-repost: 19 195 113;
		--p-like: 246 60 103;
	}

	.accent-scarlet {
		--p-accent: 201 0 37;
		--p-accent-hover: 191 0 35;
		--p-accent-active: 181 0 32;
		--p-accent-fg: 255 255 255;
	}

	.theme-light {
		--p-background: 255 255 255;
		--p-contrast: 20 20 20;
		--p-contrast-hinted: 25 25 25;
		--p-contrast-muted: 100 100 100;
		--p-contrast-overlay: 0 0 0;
		--p-outline: 243 243 243;
		--p-outline-md: 217 217 217;
		--p-outline-lg: 217 217 217;
		--p-error: 220 38 38; /* red-600 */
	}

	.theme-dark {
		--p-background: 0 0 0;
		--p-contrast: 255 255 255;
		--p-contrast-hinted: 244 244 244;
		--p-contrast-muted: 123 123 123;
		--p-contrast-overlay: 98 110 127;
		--p-outline: 54 54 54;
		--p-outline-md: 57 57 57;
		--p-outline-lg: 113 113 113;
		--p-error: 248 113 113; /* red-400 */
	}
}
